.navbar{ 
    background: black; /*#221F1F;*/
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: white;
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-nav {
	flex-direction: row;
}
    
.nav-link {
	padding-right: 1.5rem !important;
	padding-left: .5rem !important;
}


.header{
	margin-top:150px;
}

body {
	margin: 0; 
	padding: 0; 
	background-image: url("//i.imgur.com/QRxxXSL.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
	background-position: 0 45px; 
}

h1 {
	font-family: 'Raleway', sans-serif;
	font-size: 50px;
	color: white;
	text-align: center;
}
table {
	border-collapse: collapse;
	border: 1px solid black;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}
    /*    	  	
tr:hover {background-color: #ffdb58;}
tr:nth-child(even) {background-color: #f2f2f2;}
tr:hover:nth-child(even) {background-color: #ffdb58;}
 */       	  	
thead th {
	padding-top: 10px;
	font-size: 22px;
	font-family: 'Raleway', sans-serif;
	padding: 20px;
	background-color: black;
	color: white;
	text-align: left;
}
       
tbody th {
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	padding: 20px;
	text-align: left;
	color:white;
	background-color:rgba(0,0,0,0.6);
}
a {
	color: white;
}

a:hover{
	color: #FFC723;
}